body{
    background-color:rgb(240, 240, 240);
}

div{
    background-color: white;
}

header{
    background-color: white;
    height: 150px;

}

.model{
    visibility: hidden;
    display: none;
}